CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

virtual-cane
tensorflow
.github
venv
build
tflite1-env
.clang-format
*.wav
*.so
inference.cpp
librealsense_tensorflow.py
motor_interface.hpp
python-tutorial-1-depth.py
virtual-cane-hello
.vscode